<!-- Single Product Start -->
<div class="container-fluid py-5 mt-5">
    <div class="container py-5">
        <div class="row g-4 mb-5">
            <div class="col-12">
                <div *ngIf="currPost" class="row g-4">
                    <div class="col-lg-6">
                        <div class="border rounded">
                            <a *ngIf="!currPost.data.thumbnUrl || currPost.data.thumbnUrl === ''">
                                <img class="img-fluid border-img-thumb img-height img-cover wd-100 w-100" src="/assets/img/house/house-demo.jpg" alt="">
                            </a>
                            <a *ngIf="currPost.data.thumbnUrl">
                                <img class="img-fluid border-img-thumb img-height img-cover wd-100 w-100" [src]="postsImages[currPost.data.id] || '/assets/img/house/house-demo.jpg'">
                            </a>
                        </div>
                    </div>
                    <div  class="col-lg-6">
                        <!-- <h4 class="fw-bold mb-3">{{currPost.name}}</h4> -->
                        <p class="mb-3"><strong>Loại sản phẩm:</strong> {{currPost.data.property.category}}</p>
                        <p class="mb-3"> <strong>Loại giao dịch:</strong> 
                            <span *ngIf="currPost.data.property.offer"> Cho Thuê</span>
                            <span *ngIf="!currPost.data.property.offer"> Mua bán</span>
                        </p>
                        <div class="product-price mb-4">
                            <h3 class="fw-bold mb-0">
                              {{ currPost.data.property.price | number:'1.0-0'}} VNĐ
                            </h3>
                          </div>
                        <p class="mb-3"><strong>Tiêu đề: </strong>{{currPost.data.title}}</p>
                        <p class="mb-3"><strong>Mô tả: </strong>{{currPost.data.description}}</p>
                        <p class="mb-3" *ngIf="currPost.data.property.offer"><strong>Thời gian thuê: </strong>{{currPost.data.property.rental_period || '(Chưa cập nhật)'}} </p>
                        <p class="mb-3"><strong>Địa chỉ: </strong>{{currPost.data.property.location}}</p>
                        <p class="mb-3"><strong>Địa chỉ chi tiết: </strong>{{currPost.data.property.location_detail}}</p>
                        <p class="mb-3"><strong>Địa chỉ cụ thể: </strong>{{currPost.data.property.map_url}}</p>
                        <p class="mb-3"><strong>Hướng nhà: </strong>
                            <span *ngIf="!currPost.data.property.house_orientation">Chưa cập nhật</span>
                            <span *ngIf="currPost.data.property.house_orientation">{{currPost.data.property.house_orientation}}</span>
                        </p>
                        <p class="mb-3"><strong>
                            Hướng ban công: </strong> 
                            <span *ngIf="!currPost.data.property.balcony_orientation">Chưa cập nhật</span>
                            <span *ngIf="currPost.data.property.house_orientation">{{currPost.data.property.balcony_orientation}}</span>
                        </p>
                    
                    </div>


                    <div class="col-lg-12">
                        <nav>
                            <div class="nav nav-tabs mb-3">
                                <button class="nav-link active border-white border-bottom-0" type="button" role="tab"
                                    id="nav-about-tab" data-bs-toggle="tab" data-bs-target="#nav-about"
                                    aria-controls="nav-about" aria-selected="true">Mô tả</button>
                            </div>
                        </nav>
                        <div class="tab-content mb-5">
                            <div class="tab-pane active" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
                                <p>{{currPost.short_description}} </p>
                                <p>{{currPost.long_description}}</p>
                                <div class="px-2">
                                    <div class="row g-4">
                                        <div class="col-6">
                                            <div class="row  align-items-center text-center justify-content-center py-2">
                                                <div class="col-6">
                                                    <p class="mb-0">Số phòng ngủ</p>
                                                </div>
                                                <div class="col-6">
                                                    <p class="mb-0">{{currPost.data.property.bedrooms}} phòng</p>
                                                </div>
                                            </div>
                                            <div class="row bg-light text-center align-items-center justify-content-center py-2">
                                                <div class="col-6">
                                                    <p class="mb-0">Số nhà vệ sinh</p>
                                                </div>
                                                <div class="col-6">
                                                    <p class="mb-0">{{currPost.data.property.toilets}} phòng</p>
                                                </div>
                                            </div>
                                            <div class="row text-center align-items-center justify-content-center py-2">
                                                <div class="col-6">
                                                    <p class="mb-0">Số mặt tiền</p>
                                                </div>
                                                <div class="col-6">
                                                    <p class="mb-0">{{currPost.data.property.entrance}} mặt</p>
                                                </div>
                                            </div>
                                            <div class="row bg-light text-center align-items-center justify-content-center py-2">
                                                <div class="col-6">
                                                    <p class="mb-0">Số lối vào</p>
                                                </div>
                                                <div class="col-6">
                                                    <p class="mb-0">{{currPost.data.property.frontage}} mặt</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Single Product End -->