<!-- Single Product Start -->
<div class="container-fluid py-5 mt-5">
    <div class="container py-5">
        <div class="row g-4 mb-5">
            <div class="col-12">
                <div *ngIf="currPost" class="row g-4">
                    <div class="col-lg-6">
                        <div class="border rounded">
                            <a href="#">
                                <img src="{{currPost.image_url}}" class="img-fluid rounded" alt="Image">
                            </a>
                        </div>
                    </div>
                    <div  class="col-lg-6">
                        <h4 class="fw-bold mb-3">{{currPost.name}}</h4>
                        <p class="mb-3">Loại sản phẩm: {{currPost?.name}}</p>
                        <div class="product-price mb-4">
                            <!-- Giá cũ và phần trăm giảm giá cùng một hàng -->
                            <div class="d-flex align-items-center mb-2">
                              <!-- Giá cũ với dấu gạch và màu xám -->
                              <h5 class="text-muted text-decoration-line-through mb-0 me-2">
                                {{ currPost.price }} VNĐ
                              </h5>
                              
                              <!-- Phần trăm giảm giá -->
                              <span class="badge bg-danger">{{ currPost.discount }}%</span>
                            </div>
                          
                            <!-- Giá thực sau khi giảm giá (ở dòng khác) -->
                            <h3 class="fw-bold mb-0">
                              {{ currPost.price}} VNĐ
                            </h3>
                          </div>
                        <p class="mb-4">{{currPost.description}}</p>
                        <p class="mb-4">{{currPost.long_description}}</p>
                        <p class="mb-3"><strong>Còn lại: </strong>{{currPost.stock_quantity}} sản phẩm</p>
                        <a  class="btn border border-secondary rounded-pill px-4 py-2 mb-4 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i>Thêm vào giỏ hàng</a>
                    </div>


                    <div class="col-lg-12">
                        <nav>
                            <div class="nav nav-tabs mb-3">
                                <button class="nav-link active border-white border-bottom-0" type="button" role="tab"
                                    id="nav-about-tab" data-bs-toggle="tab" data-bs-target="#nav-about"
                                    aria-controls="nav-about" aria-selected="true">Mô tả</button>
                            </div>
                        </nav>
                        <div class="tab-content mb-5">
                            <div class="tab-pane active" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
                                <p>{{currPost.short_description}} </p>
                                <p>{{currPost.long_description}}</p>
                                <div class="px-2">
                                    <div class="row g-4">
                                        <div class="col-6">
                                            <div class="row  align-items-center text-center justify-content-center py-2">
                                                <div class="col-6">
                                                    <p class="mb-0">Trọng lượng</p>
                                                </div>
                                                <div class="col-6">
                                                    <p class="mb-0">{{currPost.weight}} kg</p>
                                                </div>
                                            </div>
                                            <div class="row bg-light text-center align-items-center justify-content-center py-2">
                                                <div class="col-6">
                                                    <p class="mb-0">Mã sản phẩm</p>
                                                </div>
                                                <div class="col-6">
                                                    <p class="mb-0">{{currPost.sku}}</p>
                                                </div>
                                            </div>
                                            <div class="row text-center align-items-center justify-content-center py-2">
                                                <div class="col-6">
                                                    <p class="mb-0">Kích thước (Dài x Rộng x Cao)</p>
                                                </div>
                                                <div class="col-6">
                                                    <p class="mb-0">{{currPost.dimensions}}</p>
                                                </div>
                                            </div>
                                            <div class="row bg-light text-center align-items-center justify-content-center py-2">
                                                <div class="col-6">
                                                    <p class="mb-0">Chất liệu</p>
                                                </div>
                                                <div class="col-6">
                                                    <p class="mb-0">{{currPost.material}}</p>
                                                </div>
                                            </div>
                                            <div class="row text-center align-items-center justify-content-center py-2">
                                                <div class="col-6">
                                                    <p class="mb-0">Màu sắc</p>
                                                </div>
                                                <div class="col-6">
                                                    <p class="mb-0">{{currPost.color}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="nav-mission" role="tabpanel" aria-labelledby="nav-mission-tab">
                                <div class="d-flex">
                                    <img src="img/avatar.jpg" class="img-fluid rounded-circle p-3" style="width: 100px; height: 100px;" alt="">
                                    <div class="">
                                        <p class="mb-2" style="font-size: 14px;">April 12, 2024</p>
                                        <div class="d-flex justify-content-between">
                                            <h5>Jason Smith</h5>
                                            <div class="d-flex mb-3">
                                                <i class="fa fa-star text-secondary"></i>
                                                <i class="fa fa-star text-secondary"></i>
                                                <i class="fa fa-star text-secondary"></i>
                                                <i class="fa fa-star text-secondary"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                        </div>
                                        <p>The generated Lorem Ipsum is therefore always free from repetition injected humour, or non-characteristic 
                                            words etc. Susp endisse ultricies nisi vel quam suscipit </p>
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <img src="img/avatar.jpg" class="img-fluid rounded-circle p-3" style="width: 100px; height: 100px;" alt="">
                                    <div class="">
                                        <p class="mb-2" style="font-size: 14px;">April 12, 2024</p>
                                        <div class="d-flex justify-content-between">
                                            <h5>Sam Peters</h5>
                                            <div class="d-flex mb-3">
                                                <i class="fa fa-star text-secondary"></i>
                                                <i class="fa fa-star text-secondary"></i>
                                                <i class="fa fa-star text-secondary"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                        </div>
                                        <p class="text-dark">The generated Lorem Ipsum is therefore always free from repetition injected humour, or non-characteristic 
                                            words etc. Susp endisse ultricies nisi vel quam suscipit </p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="nav-vision" role="tabpanel">
                                <p class="text-dark">Tempor erat elitr rebum at clita. Diam dolor diam ipsum et tempor sit. Aliqu diam
                                    amet diam et eos labore. 3</p>
                                <p class="mb-0">Diam dolor diam ipsum et tempor sit. Aliqu diam amet diam et eos labore.
                                    Clita erat ipsum et lorem et sit</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Single Product End -->