<div class="container-fluid header bg-white p-0">
    <div class="row g-0 align-items-center flex-column-reverse flex-md-row">
        <div class="col-md-6 p-5 mt-lg-5">
            <h1 class="display-5 animated fadeIn mb-4"> 
                <span class="text-success">Khám phá</span> bất động sản tuyệt vời ngay hôm nay!
            </h1>
            <p class="animated fadeIn mb-4 pb-2">Tìm ngôi nhà mơ ước của bạn với giá trị vượt trội và dịch vụ tận tâm.</p>
            <a href="#" class="btn btn-success py-3 px-5 me-3 animated fadeIn">Xem ngay</a>
        </div>
        <div class="col-md-6 animated fadeIn">
            <img class="img-fluid w-100" src=" /assets/img/property-3.jpg" alt="Bất động sản đẹp">
        </div>
    </div>
</div>

