@import url("../../../../../public/assets/css/style.css");

.fw-500{
    font-weight: 500 !important;
}

.w-100{
    width: 100%;
}

.bg-cate{
    background-color: #f2e9ff;
}

.c-p{
    cursor: pointer;
}

.h-72{
    height: 72px;
}

.h-48{
    height: 48px;
}

.h-200{
    height: 300px !important;
}

.heart-icon {
    cursor: pointer;
    z-index: 10;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px; /* Tăng không gian xung quanh biểu tượng */
    background-color: rgba(255, 255, 255, 0.6); /* Lớp phủ nền nhẹ để tạo sự dễ bấm */
    border-radius: 50%; /* Tạo viền tròn */
    border: 3px solid rgba(0, 0, 0, 0.2); /* Viền mờ để tạo sự nổi bật */
  }
  
.heart-icon i {
font-size: 24px; /* Tăng kích thước trái tim */
}

.heart-icon:hover {
background-color: rgba(255, 255, 255, 0.8); /* Màu nền thay đổi khi hover */
}

.heart-icon:active {
background-color: rgba(255, 255, 255, 1); /* Màu nền khi bấm */
}
  
  