.w-7rem{
    width: 7rem;
}

.m-0 {
    margin: 0;
}

.mat-mdc-text-field-wrapper {
    background-color: white !important;
    border-bottom: none !important;
}

#dataTable_wrapper .dataTables_length,
#dataTable_wrapper .dataTables_filter,
#dataTable_wrapper .dataTables_info,
#dataTable_wrapper .dataTables_paginate {
   text-align: left;
}

/* Left-align the data inside the table */
#dataTable tbody td {
   text-align: left;
}
#dataTable thead th,#dataTable tfoot th {
    text-align: left;
 }

 .t-center{
    text-align: center !important;
 }

.active {
    background-color: green !important;
    color: white !important;
    font-weight: bold !important;
}

.inactive {
    background-color: gray !important;
}

.not-started {
    color: blue; /* Màu xanh cho trạng thái chưa chạy */
}
  
.running {
    color: green; /* Màu xanh lá cây cho trạng thái đang chạy */
}
  
.ended {
    color: red; /* Màu đỏ cho trạng thái đã chạy */
}
  
::ng-deep .cdk-overlay-container {
    z-index: 10000 !important; 
  }
  
  
  /* Snack Bar notify */
  
  ::ng-deep .snackbar-success,
  ::ng-deep .snackbar-success-user {
    border-radius: 6px;
    box-shadow: 0 0 0 6px rgb(100, 160, 11);
  }
  
  ::ng-deep .snackbar-warning,
  ::ng-deep .snackbar-warning-user {
    border-radius: 6px;
    box-shadow: 0 0 0 6px rgb(219, 219, 15);
  }
  
  ::ng-deep .snackbar-error,
  ::ng-deep .snackbar-error-user {
    border-radius: 6px;
    box-shadow: 0 0 0 6px rgb(255, 0, 0);
  }

  .container-dashboard{
    margin: 45px;
  }

  
.img-thumbnail {
  width: 150px;  /* Adjust this value as needed */
  height: auto;  /* Keeps the aspect ratio intact */
  object-fit: cover;  /* Ensures the image fills the container without stretching */
}

/* CSS cho modal */
.modal-child-image {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Nền mờ */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Đảm bảo modal luôn hiển thị trên các thành phần khác */
}

.modal-child-image-content {
  background-color: white;
  padding: 20px;
  width: 86%;
  height: 86%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;

}

.modal-child-image-img {
  width: 90%;
  height: 100%;
  object-fit: contain;
  border-radius: 5px;
}


.modal {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0s 0.3s; /* Fade-in transition */
}

.modal.show {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease; /* Fade-out transition */
}

.modal-backdrop {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.modal-backdrop.show {
  opacity: 1;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close {
  margin-left: auto;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-p{
  cursor: pointer;
}

.h-164{
  height: 164px;
}