.product-price .badge {
    font-size: 1.2rem;
    padding: 0.5rem;
    background-color: #dc3545; /* Màu đỏ */
    color: white;
  }
  
  .text-muted {
    color: #6c757d; /* Màu xám nhạt */
  }
  
  .text-decoration-line-through {
    text-decoration: line-through;
  }
  
  .product-price h5 {
    margin-bottom: 0; /* Loại bỏ khoảng cách dưới của h5 */
  }
  

  /* xử lí ảnh con */
  /* Cấu trúc flex cho danh sách ảnh */
.image-gallery {
  display: flex;
  overflow: hidden;
  width: 100%;
  justify-content: center;
}

.image-item {
  flex: 0 0 auto;
  margin-right: 10px;
  transition: opacity 0.3s ease-in-out;
}

/* Đảm bảo ảnh con có cùng kích thước */
.image-item img {
  width: 160px; /* Kích thước của ảnh con */
  height: 160px; /* Kích thước của ảnh con */
  object-fit: cover;
  cursor: pointer;
  border-radius: 5px;
}

/* Hiển thị ảnh hiện tại với độ sáng bình thường */
.image-item.active img {
  opacity: 1;
}

/* Mờ các ảnh không active */
.image-item.inactive img {
  opacity: 0.5;
}

/* Tạo vùng bấm cho nút chuyển ảnh */
.btn-direction{
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #ddd;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}



/* Đảm bảo responsive */
@media (max-width: 767px) {
  .image-item img {
    width: 60px; /* Kích thước ảnh con nhỏ hơn trên màn hình nhỏ */
    height: 60px;
  }
}


/* CSS cho modal */
.modal-child-image {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Nền mờ */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Đảm bảo modal luôn hiển thị trên các thành phần khác */
}

.modal-child-image-content {
  background-color: white;
  padding: 20px;
  width: 86%;
  height: 86%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;

}

.modal-child-image-img {
  width: 90%;
  height: 100%;
  object-fit: contain;
  border-radius: 5px;
}

.heart-icon {
  cursor: pointer;
  z-index: 10;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px; /* Tăng không gian xung quanh biểu tượng */
  background-color: rgba(255, 255, 255, 0.6); /* Lớp phủ nền nhẹ để tạo sự dễ bấm */
  border-radius: 50%; /* Tạo viền tròn */
  border: 3px solid rgba(0, 0, 0, 0.2); /* Viền mờ để tạo sự nổi bật */
}

.heart-icon i {
font-size: 24px; /* Tăng kích thước trái tim */
}

.heart-icon:hover {
background-color: rgba(255, 255, 255, 0.8); /* Màu nền thay đổi khi hover */
}

.heart-icon:active {
background-color: rgba(255, 255, 255, 1); /* Màu nền khi bấm */
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close {
  margin-left: auto;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.btn-contact, .btn-schedule{
  width: 180px;
  height: 50px;
}

.c-p{
  cursor: pointer;
}


.modal {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0s 0.3s; /* Fade-in transition */
}

.modal.show {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease; /* Fade-out transition */
}

.modal-backdrop {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.modal-backdrop.show {
  opacity: 1;
}

::ng-deep .cdk-overlay-container {
  z-index: 10000 !important; 
}


/* Snack Bar notify */

::ng-deep .snackbar-success,
::ng-deep .snackbar-success-user {
  border-radius: 6px;
  box-shadow: 0 0 0 6px rgb(100, 160, 11);
}

::ng-deep .snackbar-warning,
::ng-deep .snackbar-warning-user {
  border-radius: 6px;
  box-shadow: 0 0 0 6px rgb(219, 219, 15);
}

::ng-deep .snackbar-error,
::ng-deep .snackbar-error-user {
  border-radius: 6px;
  box-shadow: 0 0 0 6px rgb(255, 0, 0);
}


.bg-light{
  --bs-bg-opacity: 1;
  background-color: #b1c8e0 !important;
}

/* Đảm bảo bảng chiếm toàn bộ chiều rộng và có không gian giữa các cột */
table {
  width: 100%;
  margin-top: 30px;
  border-collapse: collapse;
  font-family: 'Arial', sans-serif;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1); /* Thêm bóng nhẹ */
}

/* Định dạng tiêu đề của bảng */
th {
  background-color: #4CAF50;
  color: white;
  padding: 12px 15px;
  font-size: 16px;
  text-align: left;
  text-transform: uppercase; /* Chữ hoa cho tiêu đề */
  letter-spacing: 1px; /* Khoảng cách chữ */
  border-top-left-radius: 8px; /* Bo tròn góc trên trái */
  border-top-right-radius: 8px; /* Bo tròn góc trên phải */
}

/* Định dạng các ô dữ liệu */
td {
  background-color: #f9f9f9;
  padding: 12px 15px;
  text-align: left;
  font-size: 14px;
  color: #555;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* Đổi màu các ô khi hover */
tr:hover td {
  background-color: #f1f1f1;
  cursor: pointer; /* Thêm hiệu ứng con trỏ */
  transform: scale(1.02); /* Thêm hiệu ứng mở rộng nhẹ */
  transition: all 0.3s ease; /* Thêm chuyển động mượt mà */
}

/* Thêm màu nền cho các dòng chẵn */
tr:nth-child(even) td {
  background-color: #f2f2f2;
}

/* Thêm một dòng viền dưới cho các dòng cuối cùng */
tr:last-child td {
  border-bottom: 2px solid #4CAF50;
}

/* Tạo hiệu ứng bóng cho bảng */
table {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px; /* Bo tròn các góc bảng */
  overflow: hidden; /* Đảm bảo không bị tràn khi bo góc */
}

/* Định dạng cột giá */
td:last-child {
  font-weight: bold;
  color: #FF5733;
}

/* Định dạng cho các ô dữ liệu trong bảng khi có hover */
td:hover {
  background-color: #d9d9d9;
}

/* Định dạng bảng khi không có dữ liệu */
td:empty {
  background-color: #f2f2f2;
  color: #ccc;
}

.img-thumbnail {
  width: 150px;  /* Adjust this value as needed */
  height: auto;  /* Keeps the aspect ratio intact */
  object-fit: cover;  /* Ensures the image fills the container without stretching */
}
