/* You can add global styles to this file, and also import other style files */

::ng-deep .cdk-overlay-container {
    z-index: 10000 !important; 
}
  

/* Snack Bar notify */

::ng-deep .snackbar-success,
::ng-deep .snackbar-success-user {
    border-radius: 6px;
    box-shadow: 0 0 0 6px rgb(100, 160, 11);
}

::ng-deep .snackbar-warning,
::ng-deep .snackbar-warning-user {
    border-radius: 6px;
    box-shadow: 0 0 0 6px rgb(219, 219, 15);
}

::ng-deep .snackbar-error,
::ng-deep .snackbar-error-user {
    border-radius: 6px;
    box-shadow: 0 0 0 6px rgb(255, 0, 0);
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
