<!-- Navbar Start -->
<div #nav_header class="container-fluid nav-bar bg-transparent">
    <nav class="navbar navbar-expand-lg bg-white navbar-light py-0 px-4">
        <a routerLink="home" class="navbar-brand d-flex align-items-center text-center">
            <div class="icon p-2 me-2">
                <img class="img-fluid" src="/assets/img/icon-deal.png" alt="Icon" style="width: 30px; height: 30px;">
            </div>
            <h3 class="m-0 text-primary">Peaceful Land</h3>
        </a>
        <button #button_collapse (click)="toggleNavbarCollapse()" type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div #navbar_collapse class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto">
                <a (click)="toggleNavbarCollapse()" routerLink="home" class="nav-item nav-link active">Trang Chủ</a>
                <!-- <a (click)="toggleNavbarCollapse()" routerLink="property_list" class="nav-item nav-link active">Danh sách bài đăng</a> -->
                <div class="nav-item nav-link dropdown p-0">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" (click)="toggleNavbarCollapse()">
                        Danh sách bài rao
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" [routerLink]="['property_list', 'sale']">Bán</a></li>
                        <li><a class="dropdown-item" [routerLink]="['property_list', 'rent']">Cho thuê</a></li>
                        <li><a class="dropdown-item" [routerLink]="['property_list', 'no_complete']">chưa bán/thuê</a></li>
                    </ul>
                </div>
                <a *ngIf="isSaleOrUser" (click)="toggleNavbarCollapse()" routerLink="post_property" class="nav-item nav-link">Đăng bài</a>
                <a (click)="toggleNavbarCollapse()" routerLink="login_and_register" class="nav-item nav-link">
                    <span *ngIf="isLoggedIn">Tài khoản</span>
                    <span *ngIf="!isLoggedIn">Đăng nhập</span>
                </a>
            </div>
        </div>
    </nav>
</div>
<!-- Navbar End -->
