
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h5 class="h3 mb-0 text-gray-800">Bài rao chờ duyệt</h5>
</div>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTablePostUserReq" width="100%" cellspacing="0">
                <thead>
                    <tr >
                        <th *ngFor="let header of headerList">{{header}}</th>
                        <th class="t-center">Hành động</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr >
                        <th *ngFor="let header of headerList">{{header}}</th>
                        <th class="t-center">Hành động</th>
                    </tr>
                </tfoot>
                <tbody *ngIf="postList">
                    <tr *ngFor="let post of postList; trackBy: trackById">
                        <td>{{post.id}}</td>
                        <td [ngClass]="{'active': post.approved, 'inactive': !post.approved}">
                            {{ post.approved ? 'Đã duyệt' : 'Chờ duyệt' }}
                        </td>
                        <td>{{post.post_title}}</td>
                        <td>{{post.property_address}}</td>
                        <td>{{post.request_date | date: 'dd/MM/yyyy'}}</td>
                        <td>{{post.expiry_date | date: 'dd/MM/yyyy'}}</td>
                        <td [ngClass]="{'active': post.post_visibility, 'inactive': !post.post_visibility}">
                            {{ post.post_visibility ? 'Hiển thị' : 'Ẩn' }}
                        </td>
                        <td class="d-flex justify-content-around">
                            <a (click)="goToHandle(post.id)" class="btn btn-outline-info">
                                <i class="fas fa-wrench"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>