.notification-container {
    display: flex; /* Sử dụng Flexbox */
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
    height: 100vh; /* Chiều cao 100% của viewport (màn hình) */
    padding: 20px; /* Khoảng cách trong của container */
    width: 100%;
    box-sizing: border-box; /* Đảm bảo padding không làm thay đổi kích thước */
    height: 400px;

  }
  
  .notification {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 100%;
    font-size: 30px; /* Chữ to */
    color: gray; /* Màu xám */
    text-align: center; /* Căn giữa văn bản */
    background-color: rgba(0, 0, 0, 0.1); /* Nền mờ nhẹ */
    border-radius: 10px; /* Bo góc */
    padding: 20px; /* Khoảng cách trong */
  }

  .notification-info{
    font-size: 50px;
  }
  
  
/* CSS cho modal */
.modal-child-image {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Nền mờ */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Đảm bảo modal luôn hiển thị trên các thành phần khác */
}

.modal-child-image-content {
  background-color: white;
  padding: 20px;
  width: 86%;
  height: 86%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;

}

.modal-child-image-img {
  width: 90%;
  height: 100%;
  object-fit: contain;
  border-radius: 5px;
}

.c-p{
  cursor: pointer;
}